<div class="grid container h-screen">

    <div class="col-12">
        <div class=" flex justify-content-center">
          <h2>เพิ่มกล้ามเนื้อ</h2>
        </div>
    </div>

    <div class="col-12">
        <div class="grid">
            <div class="col-12 p-4 border-round-top-3xl surface-0 h-screen">
                <div class="grid flex flex-column justify-content-center">
                    <p-image 
                        src="https://images.pexels.com/photos/414029/pexels-photo-414029.jpeg?cs=srgb&dl=pexels-pixabay-414029.jpg&fm=jpg"
                        alt="Image"
                        width="60%">
                    </p-image>
                </div>

                <div class="text-container gap-2 mt-4">
                    <div class="text-left">
                      <div class="flex-container7">เป้าหมาย <span class="text-right3">เพิ่มกล้ามเนื้อ</span></div>
                      <div class="flex-container8">ระยะ(นาที) <span class="text-right3">60</span></div>
                    </div>
                </div>

                <p-divider class="flex justify-content-center gap-2 mt-4" type="solid" />
            </div>
        </div>
    </div>

</div>
