<div class="grid container h-screen">

    <div class="col-12">
        <div class=" flex justify-content-center">
          <h2>เพิ่มความแข็งแรง</h2>
        </div>
    </div>

    <div class="col-12">
        <div class="grid">
            <div class="col-12 p-4 border-round-top-3xl surface-0 h-screen">
                <div class="grid flex flex-column justify-content-center">
                    <p-image 
                        src="https://images.pexels.com/photos/414029/pexels-photo-414029.jpeg?cs=srgb&dl=pexels-pixabay-414029.jpg&fm=jpg"
                        alt="Image"
                        width="60%">
                    </p-image>
                </div>

                <div class="text-container gap-2 mt-4">
                    <div class="text-left">
                      <div class="flex-container7">เป้าหมาย <span class="text-right3">เพิ่มกล้ามเนื้อ</span></div>
                      <div class="flex-container8">ระยะ(นาที) <span class="text-right3">60</span></div>
                    </div>
                </div>

                <p-divider class="flex justify-content-center gap-2 mt-4" type="solid" />

                <div class=" flex justify-content-center ">
                    <h2 class="font-color">รายละเอียด</h2>
                </div>
                <P>โปรแกรมฝึกเพื่อเพิ่มความแข็งแรงของกล้ามเนื้อกดเ่ก่กน่นกด่เกเนยก่ฟสวาส่หสา่ดห่กด่รนหกห่นด่หนก่ดรนห่กรนด่หนก่ดหก่ดนรห่กนรห
                    หกดนยหรดกนยหยกดนยหรดนยหกนยดรหนยกรดนยหรดนยหดนยหดนยหกนยหกานยดหกด
                    หดนยหกดนยหกนดหยนย่กดกน้อสนดหสดยนหดหาหยานย
                </P>

                <p-divider class="flex justify-content-center gap-2 mt-4" type="solid" />

                <div class=" flex justify-content-center ">
                    <h2 class="font-color">ตารางเวลาของคอร์ส</h2>
                </div>

                <p class="font grid justify-content-center gap-2 mt-4">วันจันทร์ 17.00 - 18.00 น.</p>

                <div class="margin margin-top-30px">
                    <div class="item-center text-center">
                      <p-button
                        label="ลงทะเบียน"
                        styleClass="custom-button-blue-login"
                        (click)="visibleModal=false"
                      ></p-button>
                    </div>
                </div>
            </div>
            <div class="background-156">
                <div class="content">
                  <div>
                    <h3 class="text-left-underline">เกี่ยวกับพวกเรา</h3>
                    <p>เกี่ยวกับเรา</p>
                    <p>ติดต่อเรา</p>
                    <p>ทำไมต้องเลือกเรา</p>
                  </div>
                </div>
          
                <div class="content">
                  <div>
                    <h3 class="text-left-underline">สมาชิก</h3>
                    <p>สิทธิพิเศษของสมาชิก</p>
                    <p>กฎระเบียบการใช้งาน</p>
                    <p>โปรโมชั่น</p>
                    <p>สมัครสมาชิก</p>
                  </div>
                </div>
            </div>
        </div>
    </div>

</div>
