<div class="grid container h-screen">
  <div class="col-12">
    <div><app-menu [name]="name"></app-menu></div>
  </div> 

  <div class="col-12">
    <div class="text-center font-bold text-white center">
      <h2>{{ this.state.header }}</h2>
    </div>
  </div>

  <div class="col-12">
    <div class="grid">
      <div class="col-12 p-4 border-round-top-3xl surface-0 h-screen">
        <div class="grid flex flex-column justify-content-center">
          <p-image
            src="{{ this.state.src }}"
            alt="Image"
            width="60%"
          >
          </p-image>
        </div>

        <div class="text-container gap-2 mt-4">
          <div *ngIf="progarm_data" class="text-center-bold">
            <span class="text-center">{{ progarm_data.program_name }}</span>

            <div class="text-left mt-4">
              <div class="flex-container7">
                เป้าหมาย
                <span class="text-right3">{{ progarm_data.goal }}</span>
              </div>
              <div class="flex-container8">
                ระยะ(สัปดาห์)
                <span class="text-right3">{{ progarm_data.duration }}</span>
              </div>
            </div>
          </div>
        </div>

        <p-divider
          class="flex justify-content-center gap-2 mt-4"
          type="solid"
        />

        <div class="flex justify-content-center">
          <h2 class="font-color">รายละเอียด</h2>
        </div>
        <div *ngIf="progarm_data">
          <P>{{ progarm_data.descriptiom }} </P>
        </div>

        <p-divider
          class="flex justify-content-center gap-2 mt-4"
          type="solid"
        />

        <div class="flex justify-content-center">
          <h2 class="font-color">ตารางเวลาของคอร์ส</h2>
        </div>
        <div *ngIf="progarm_data">
          <p class="font grid justify-content-center gap-2 mt-4">
            {{ progarm_data.day }}
          </p>
        </div>

        <div class="margin margin-top-30px">
          <div class="item-center text-center">
            <p-button
              label="ลงทะเบียน"
              styleClass="custom-button-blue-login"
              (click)="confirmSubscription = true"
            ></p-button>
          </div>
        </div>
      </div>
      <div class="background-156">
        <div class="content">
          <div>
            <h3 class="text-left-underline">เกี่ยวกับพวกเรา</h3>
            <p>เกี่ยวกับเรา</p>
            <p>ติดต่อเรา</p>
            <p>ทำไมต้องเลือกเรา</p>
          </div>
        </div>

        <div class="content">
          <div>
            <h3 class="text-left-underline">สมาชิก</h3>
            <p>สิทธิพิเศษของสมาชิก</p>
            <p>กฎระเบียบการใช้งาน</p>
            <p>โปรโมชั่น</p>
            <p>สมัครสมาชิก</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog สมัครสมาชิกสำเร็จ -->
<p-dialog
  [(visible)]="successful"
  [modal]="true"
  [closable]="false"
  [breakpoints]="{ '2000px': '350px' }"
  [style]="{ width: '300px', textAlign: 'center' }"
>
  <div class="header-dialog">
    <h2>ลงทะเบียนสำเร็จ</h2>
  </div>
  <div class="flex justify-content-center gap-3">
    <p-button
      label="ตกลง"
      styleClass="confirm-button"
      (click)="successful = false"
    ></p-button>
  </div>
</p-dialog>

<!--dialog ยืนยันการสมัครสมาชิก -->
<p-dialog
  [(visible)]="confirmSubscription"
  [modal]="true"
  [closable]="false"
  [breakpoints]="{ '2000px': '350px' }"
  [style]="{ width: '300px', textAlign: 'center' }"
>
  <div class="header-dialog">
    <h2>ยืนยันการสมัครสมาชิก</h2>
  </div>
  <div class="flex justify-content-center gap-3">
    <p-button
      label="ยกเลิก"
      styleClass="cancel-button"
      (click)="confirmSubscription = false"
    ></p-button>
    <p-button
      label="ยืนยัน"
      styleClass="confirm-button"
      (click)="saveProgramToEnrollment()"
    ></p-button>
  </div>
</p-dialog>
