<div class="grid container h-screen">

    <div class="col-12">
        <div><app-menu [name]="name"></app-menu></div>
    </div> 

    <div class="col-12">
        <div class="text-center font-bold text-white center">
          <h2>เทรนเนอร์ส่วนตัว</h2>
        </div>
    </div>

    <div class="col-12">
        <div class="grid">
            <div class="col-12 p-4 border-round-top-3xl surface-0 h-screen">
                <div class="grid flex flex-column justify-content-center">
                    <p-image 
                        src="https://images.pexels.com/photos/414029/pexels-photo-414029.jpeg?cs=srgb&dl=pexels-pixabay-414029.jpg&fm=jpg"
                        alt="Image"
                        width="60%">
                    </p-image>
                </div>

                <div class="fitnex-banner gap-2 mt-4">
                    <div class="text-container">
                      <div class="text-left">
                        <div class="flex-container5">เริ่มต้นเส้นทางสุขภาพที่ดี</div>
                        <div class="flex-container6">ให้เทรนเนอร์ของเราช่วยคุณ <span class="text-right2">บรรลุเป้าหมาย</span></div>
                      </div>
                    </div>
                </div>
                
                <div class="card flex justify-content-center gap-2 mt-4">
                    <label for="goal">เป้าหมาย <p-dropdown 
                        [options]="goals" 
                        [(ngModel)]="selectedGoal" 
                        optionLabel="name"
                        placeholder="เลือกเป้าหมาย" />
                    </label>
                </div>

                <div class="margin margin-top-30px">
                    <div class="item-center text-center">
                      <p-button
                        label="ลงทะเบียน"
                        styleClass="custom-button-blue-login"
                        (click)="visibleModal=false"
                      ></p-button>
                    </div>
                </div>

                <p-divider class="flex justify-content-center gap-2 mt-4" type="solid" />

                <div class=" flex justify-content-center pt-5 ">
                    <h2 class="font-color">เทรนเนอร์ที่ได้รับการรับรอง</h2>
                </div>

                    <p-card p-card class="grid flex justify-content-center gap-2 mt-4">
                        <div
                            class="p-card-content"
                            style="display: flex; align-items: center; height: 150px">
                                <div
                                    style="
                                    flex: 1;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    overflow: hidden;
                                    height: 100%;">
                                    <img
                                    src="https://scontent-bkk1-1.xx.fbcdn.net/v/t1.15752-9/462558174_1702899867169436_5551357010290417340_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=9f807c&_nc_ohc=iN_EGM0SZ3AQ7kNvgGCBlyG&_nc_zt=23&_nc_ht=scontent-bkk1-1.xx&_nc_gid=AksG7wu9duQQl6vqzhphOYt&oh=03_Q7cD1QG3c78Soqpj0H8XequY0Qyrd-KK1M_WtS_dr7Xey3GY6w&oe=67494356"
                                    alt="Image"
                                    style="max-width: 100%; max-height: 100%; object-fit: cover"
                                    />
                                </div>
                                <div style="flex: 2; padding-left: 1rem">
                                    <p class="p-bold">
                                        ชื่อ-นามสกุล <strong>: นายกฤษฎา นลินรัตน์พิพัฒน์</strong>
                                    </p>
                                    <p class="p-bold">
                                        ความถนัด <strong>: มีรูปร่างที่ดี</strong>
                                    </p>
                                    <p class="p-bold">
                                        ประสบการณ์ <strong>: ได้เข้าร่วมแข่งขันเพาะกายของ TBPA</strong>
                                    </p>
                                </div>
                        </div>
                    </p-card> 

                    <p-card p-card class="grid flex justify-content-center gap-2 mt-4">
                        <div
                            class="p-card-content"
                            style="display: flex; align-items: center; height: 150px">
                                <div
                                    style="
                                    flex: 1;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    overflow: hidden;
                                    height: 100%;">
                                    <img
                                    src="https://scontent-bkk1-1.xx.fbcdn.net/v/t1.15752-9/462544439_429348650191863_2503507149779019038_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=9f807c&_nc_ohc=yqakOtXqO_oQ7kNvgFeP1w2&_nc_zt=23&_nc_ht=scontent-bkk1-1.xx&_nc_gid=Ax8j8aNJnQPQ7NipZhUrVjW&oh=03_Q7cD1QF7p9ZY55i8XoStxRmJddeeERyQuKud3-68wu4uadgn5w&oe=67489A75"
                                    alt="Image"
                                    style="max-width: 100%; max-height: 100%; object-fit: cover"
                                    />
                                </div>
                                <div style="flex: 2; padding-left: 1rem">
                                    <p class="p-bold">
                                        ชื่อ-นามสกุล <strong>: นายกฤษตฤณ จันทวงศ์</strong>
                                    </p>
                                    <p class="p-bold">
                                        ความถนัด <strong>: ความยืดหยุ่น</strong>
                                    </p>
                                    <p class="p-bold">
                                        ประสบการณ์ <strong>: ได้เข้าร่วม Asia Yoga Championship 2015</strong>
                                    </p>
                                </div>
                        </div>
                    </p-card> 

                    <p-card p-card class="grid flex justify-content-center gap-2 mt-4">
                        <div
                            class="p-card-content"
                            style="display: flex; align-items: center; height: 150px">
                                <div
                                    style="
                                    flex: 1;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    overflow: hidden;
                                    height: 100%;">
                                    <img
                                    src="https://scontent-bkk1-2.xx.fbcdn.net/v/t1.15752-9/462535423_1567476983854693_5363226668808956378_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=9f807c&_nc_ohc=mYvu05xnVYgQ7kNvgEmfGme&_nc_zt=23&_nc_ht=scontent-bkk1-2.xx&_nc_gid=AtUfHXiAIWfhRYWtz4YNDfw&oh=03_Q7cD1QH3g5GoEV7dAtOSEpNzI8O-F5SS6uTM7_7lj-mIwpGtOQ&oe=67489E5D"
                                    alt="Image"
                                    style="max-width: 100%; max-height: 100%; object-fit: cover"
                                    />
                                </div>
                                <div style="flex: 2; padding-left: 1rem">
                                    <p class="p-bold">
                                        ชื่อ-นามสกุล <strong>: นายคุณภัทร บัวประดิษฐ์</strong>
                                    </p>
                                    <p class="p-bold">
                                        ความถนัด <strong>: รักษากล้ามเนื้อ</strong>
                                    </p>
                                    <p class="p-bold">
                                        ประสบการณ์ <strong>: ได้รับการรับรองจากสถาบันเทรนเนอร์ฟิตเนส ISSA </strong>
                                    </p>
                                </div>
                        </div>
                    </p-card>

                    <p-card p-card class="grid flex justify-content-center gap-2 mt-4">
                        <div
                            class="p-card-content"
                            style="display: flex; align-items: center; height: 150px">
                                <div
                                    style="
                                    flex: 1;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    overflow: hidden;
                                    height: 100%;">
                                    <img
                                    src="https://scontent-bkk1-2.xx.fbcdn.net/v/t1.15752-9/462553902_2293763364318819_3273452400014647285_n.png?_nc_cat=100&ccb=1-7&_nc_sid=9f807c&_nc_ohc=ke7TA_RnPQgQ7kNvgEKZFM6&_nc_zt=23&_nc_ht=scontent-bkk1-2.xx&_nc_gid=AtUfHXiAIWfhRYWtz4YNDfw&oh=03_Q7cD1QG3cBNYFkysvIq4_NpoUFwshtTU4P8MjSJ2nTaqXc9M_Q&oe=6748BEBD"
                                    alt="Image"
                                    style="max-width: 100%; max-height: 100%; object-fit: cover"
                                    />
                                </div>
                                <div style="flex: 2; padding-left: 1rem">
                                    <p class="p-bold">
                                        ชื่อ-นามสกุล <strong>: นายทัศไนย แตงพรม</strong>
                                    </p>
                                    <p class="p-bold">
                                        ความถนัด <strong>: การลดไขมัน</strong>
                                    </p>
                                    <p class="p-bold">
                                        ประสบการณ์ <strong>: ได้รับการรับรองจากสถาบันเทรนเนอร์ฟิตเนส NSCA </strong>
                                    </p>
                                </div>
                        </div>
                    </p-card>

                    <p-card p-card class="grid flex justify-content-center gap-2 mt-4">
                        <div
                            class="p-card-content"
                            style="display: flex; align-items: center; height: 150px">
                                <div
                                    style="
                                    flex: 1;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    overflow: hidden;
                                    height: 100%;">
                                    <img
                                    src="https://scontent-bkk1-2.xx.fbcdn.net/v/t1.15752-9/462548712_891282326277699_2465624277196415201_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=9f807c&_nc_ohc=sW4L2e7cTCYQ7kNvgEIcryx&_nc_zt=23&_nc_ht=scontent-bkk1-2.xx&_nc_gid=AfAT_cHD7bD6PdGQZuztc-N&oh=03_Q7cD1QGvoeqkB5_0ocf1Ty4343QJJXrXId__Y47epRfdKaQaNw&oe=6748C00A"
                                    alt="Image"
                                    style="max-width: 100%; max-height: 100%; object-fit: cover"
                                    />
                                </div>
                                <div style="flex: 2; padding-left: 1rem">
                                    <p class="p-bold">
                                        ชื่อ-นามสกุล <strong>: นายธนนท์ ไทยกูล</strong>
                                    </p>
                                    <p class="p-bold">
                                        ความถนัด <strong>: เพิ่มกล้ามเนื้อ</strong>
                                    </p>
                                    <p class="p-bold">
                                        ประสบการณ์ <strong>: ได้รับการรับรองจากสถาบันเทรนเนอร์ฟิตเนส ACE</strong>
                                    </p>
                                </div>
                        </div>
                    </p-card>

        </div>
        <div class="background-156">
            <div class="content">
              <div>
                <h3 class="text-left-underline">เกี่ยวกับพวกเรา</h3>
                <p>เกี่ยวกับเรา</p>
                <p>ติดต่อเรา</p>
                <p>ทำไมต้องเลือกเรา</p>
              </div>
            </div>
      
            <div class="content">
              <div>
                <h3 class="text-left-underline">สมาชิก</h3>
                <p>สิทธิพิเศษของสมาชิก</p>
                <p>กฎระเบียบการใช้งาน</p>
                <p>โปรโมชั่น</p>
                <p>สมัครสมาชิก</p>
              </div>
            </div>
        </div>
    </div>
</div>
