<div class="container bg-red item-center">

    <div class="content item-center center text-white">
      <h1>คำนวณสารอาหาร</h1>
    </div>
  
    <div class="bg-white width-100">
      &nbsp;
      <div class="contentlogo item-center">
        <div class="contentlogo">
          <img src="assets/PNG/fruitbowl.png" class="png" style="width: 350px; height: auto;"/>
        </div>
      </div>  
  
      <div class="item-center content">
        <div class="content text-center">
          <p-card p-card class="font-card">
            <h1>TDEE คืออะไร</h1>
            <p style="color: black;">
              ค่าประมาณการเผาผลาญพลังงานของร่างกายต่อวัน
              โดยมีตัวกำหนดเป็น กิจกรรมทางกายและการออกกำลังกาย
             ที่ทำต่อสัปดาห์ ซึ่งจะเป็นตัวกำหนดว่าเพิ่มจาก
              ค่า BMR (ค่าประมาณระบบเผาผลาญพื้นฐานของร่างกาย) กี่เท่า</p>
          </p-card>
        </div>
      </div>

      <div class="background-156c">
        <div class="content text-center">
          <form name="form">
            <div class="row mt-5 align-items-center">
              <div class="col-4 d-flex justify-content-end">
                <h3 class="text-black cal-label">เพศ</h3>
              </div>
              <div class="col-8">
                <div class="cal-radio-wrapper d-flex">
                  <div class="cal-radio mr3">
                    <input type="radio" name="gender" [(ngModel)]="gender" value="male"> 
                    <label>ชาย</label>
                  </div>
                  <div class="cal-radio">
                    <input type="radio" name="gender" [(ngModel)]="gender" value="female">
                    <label>หญิง</label>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="row mt-3">
              <div class="col-4 text-left">
                <h3 class="text-black cal-label">อายุ</h3>
              </div>
              <div class="col-7">
                <div class="cal-input-wrapper">
                  <input name="years" class="form-control" type="text" [(ngModel)]="age">
                </div>
              </div>
            </div>
          
            <div class="row mt-3">
              <div class="col-4 text-left">
                <h3 class="text-black cal-label">ความสูง</h3>
              </div>
              <div class="col-7">
                <div class="d-flex">
                  <div class="cal-input-wrapper">
                    <input name="cents" class="form-control" type="text" [(ngModel)]="height">
                  </div>
                  <h3 class="text-black cal-label ml-3">ซม.</h3>
                </div>
              </div>
            </div>
          
            <div class="row mt-3">
              <div class="col-4 text-left">
                <h3 class="text-black cal-label">น้ำหนัก</h3>
              </div>
              <div class="col-7">
                <div class="d-flex">
                  <div class="cal-input-wrapper">
                    <input name="kilograms" class="form-control" type="text" [(ngModel)]="weight">
                  </div>
                  <h3 class="text-black cal-label ml-3">กก.</h3>
                </div>
              </div>
            </div>
          
            <div class="row mt-3">
              <div class="col-4 text-left">
                <h3 class="text-black cal-label">ระดับการออกกำลังกายของคุณ</h3>
              </div>
              <div class="col-7">
                <div class="select-wrapper cal-select-wrapper">
                  <select name="exercise" class="select form-control" [(ngModel)]="activityFactor">
                    <option value="1.25">น้อย หรือไม่ค่อยออกกำลังกาย</option>
                    <option value="1.375">ปานกลาง ออกกำลังกาย 1-3 ครั้งต่อสัปดาห์</option>
                    <option value="1.55">ปานกลาง ออกกำลังกาย 4-5 ครั้งต่อสัปดาห์</option>
                    <option value="1.7">หนัก ออกกำลังกาย 6-7 ครั้งต่อสัปดาห์</option>
                    <option value="1.9">หนักมาก ออกกำลังกายวันละ 2 ครั้งขึ้นไป</option>
                  </select>
                </div>
              </div>
            </div>
          
            <div class="row mt-3">
              <div class="col-4 text-left">
                <h3 class="text-black cal-label">เป้าหมาย</h3>
              </div>
              <div class="col-7">
                <div class="select-wrapper cal-select-wrapper">
                  <select name="objective" class="select form-control" [(ngModel)]="objective">
                    <option value="1">เพิ่มกล้ามเนื้อ</option>
                    <option value="2">ลดไขมัน</option>
                    <option value="3">รักษากล้ามเนื้อ</option>
                  </select>
                </div>
              </div>
            </div>

            &nbsp;
          
            <div class="row mt-5">
              <div class="col-12 text-center">
                <button class="btn btn-primary btn-cal" (click)="CalcDCI()">คำนวณ</button>
              </div>
            </div>            
          </form>                    
        </div>
      </div>

      <hr class="solid">

      <div class="background-156c">
        <div class="content text-center">
          <form name="form">
            <div id="result" class="cal-result mt-5 bg-black">
              <h2 class="text-black">
                <strong>ข้อมูลส่วนตัวและการออกกำลังกาย</strong>
              </h2>
              <div class="mt-4">
                <div class="result-wrapper">
                  <p class="text-black">BMR (Basal Metabolic Rate)</p>
                  <div class="result">
                    <p class="text-primary">{{bmr | number: '1.0-0'}} กิโลแคลอรี่</p>
                  </div>
                </div>
                <div class="result-wrapper">
                  <p class="text-black">TDEE (Total Daily Energy Expenditure)</p>
                  <div class="result">
                    <p class="text-primary">{{tdee | number: '1.0-0'}} กิโลแคลอรี่</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-lg-6 offset-lg-1 mt-5 mt-lg-0">
                <h3 class="text-black"><strong>โปรแกรมอาหารต่อวัน</strong></h3>
                <table class="cal-table table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>ปริมาณ(กรัม)</th>
                      <th>แคล</th>
                      <th>สัดส่วน</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-black">โปรตีน</td>
                      <td id="protein" class="text-primary">{{ protein.toFixed(2) }}</td>
                      <td id="protein_cal" class="text-primary">{{ proteinCal.toFixed(2) }}</td>
                      <td class="text-primary"><span id="protein_percent">{{ proteinPercent.toFixed(2) }}</span> %</td>
                    </tr>
                    <tr>
                      <td class="text-black">คาร์โบไฮเดรต</td>
                      <td id="carb" class="text-primary">{{ carb.toFixed(2) }}</td>
                      <td id="carb_cal" class="text-primary">{{ carbCal.toFixed(2) }}</td>
                      <td class="text-primary"><span id="carb_percent">{{ carbPercent.toFixed(2) }}</span> %</td>
                    </tr>
                    <tr>
                      <td class="text-black">ไขมัน</td>
                      <td id="fat" class="text-primary">{{ fat.toFixed(2) }}</td>
                      <td id="fat_cal" class="text-primary">{{ fatCal.toFixed(2) }}</td>
                      <td class="text-primary"><span id="fat_percent">{{ fatPercent.toFixed(2) }}</span> %</td>
                    </tr>
                    <tr>
                      <td class="text-black">รวมแคลลอรี่</td>
                      <td></td>
                      <td></td>
                      <td id="total" class="text-primary">{{ totalCalories.toFixed(2) }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>            
          </form>                    
        </div>
      </div>

      <hr class="solid">

      <div class="background-156">
        <div class="content">
          <div>
            <h3 class="text-left-underline">เกี่ยวกับพวกเรา</h3>
            <p>เกี่ยวกับเรา</p>
            <p>ติดต่อเรา</p>
            <p>ทำไมต้องเลือกเรา</p>
          </div>
        </div>
  
        <div class="content">
          <div>
            <h3 class="text-left-underline">สมาชิก</h3>
            <p>สิทธิพิเศษของสมาชิก</p>
            <p>กฎระเบียบการใช้งาน</p>
            <p>โปรโมชั่น</p>
            <p>สมัครสมาชิก</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  