<div class="grid container h-screen">
  <div class="col-12">
    <div class="text-center font-bold text-white center">
      <h2>Sign Up</h2>
    </div>
  </div>
  

    <div class="margin bg-white bg-login">
      <div class="margin">
        <br />
        <form [formGroup]="signUp" class="flex flex-column">
          <div class="margin">
            <div class="flex flex-column">
              <label for="desc"><strong>Username</strong></label>
              <input
                type="text"
                pInputText
                formControlName="user_name"
                class="width100"
                placeholder="Enter your username"
              />
            </div>
          </div>

          <div class="margin">
            <div class="flex flex-column">
              <label for="desc"><strong>Phone number</strong></label>
              <input
                type="text"
                pInputText
                formControlName="phone"
                class="width100"
                placeholder="Enter your phone number"
              />
            </div>
          </div>

          <div class="margin">
            <div class="flex flex-column ">
              <label for="desc"><strong>Email</strong></label>
              <input
                type="text"
                pInputText
                formControlName="email"
                class="width100"
                placeholder="Enter your @gmail.com"
              />
            </div>
          </div>

          <div class="margin">
            <div class="flex flex-column">
              <label for="desc"><strong>Password</strong></label>
              <input
                type="text"
                pInputText
                formControlName="password"
                class="width100"
                placeholder="Enter your password"
              />
            </div>
          </div>
        </form>

        <div class="margin margin-top-30px">
          <div class="item-center text-center">
            <p-button
              label="Sign Up"
              styleClass="custom-button-blue-login"
              (click)="checkData()"
            ></p-button>
          </div>
        </div>

        <div class="margin margin-top-30px">
          <div class="item-center text-center">
            <p-button
              label="Back"
              styleClass="custom-button-white-signup"
              (click)="gologin()"
            ></p-button>
          </div>
          &nbsp;
        </div>
      </div>
    </div>

</div>
<!--dialog ยืนยันการสมัครสมาชิก -->
<p-dialog
  [(visible)]="confirmSubscription"
  [modal]="true"
  [closable]="false"
  [breakpoints]="{ '2000px': '350px' }"
  [style]="{ width: '300px', textAlign: 'center' }"
>
  <div class="header-dialog">
    <h2>ยืนยันการสมัครสมาชิก</h2>
  </div>
  <div class="flex justify-content-center gap-3">
    <p-button
      label="ยกเลิก"
      styleClass="cancel-button"
      (click)="confirmSubscription = false"
    ></p-button>
    <p-button
      label="ยืนยัน"
      styleClass="confirm-button"
      (click)="saveUser()"
    ></p-button>
  </div>
</p-dialog>

<!--dialog กรอกข้อมูลไม่ครบ -->
<p-dialog
  [(visible)]="Incomplete_information"
  [modal]="true"
  [closable]="false"
  [breakpoints]="{ '2000px': '350px' }"
  [style]="{ width: '300px', textAlign: 'center' }"
>
  <div class="header-dialog">
    <h2>กรุณากรอกข้อมูลให้ครบ</h2>
  </div>
  <div class="flex justify-content-center gap-3">
    <p-button
      label="ตกลง"
      styleClass="confirm-button"
      (click)="Incomplete_information = false"
    ></p-button>
  </div>
</p-dialog>

<!--dialog username นี้มีผู้ใช้งานแล้ว -->
<p-dialog
  [(visible)]="username_already"
  [modal]="true"
  [closable]="false"
  [breakpoints]="{ '2000px': '350px' }"
  [style]="{ width: '300px', textAlign: 'center' }"
>
  <div class="header-dialog">
    <h2>Username นี้มีผู้ใช้งานแล้ว</h2>
  </div>
  <div class="flex justify-content-center gap-3">
    <p-button
      label="ตกลง"
      styleClass="confirm-button"
      (click)="username_already = false"
    ></p-button>
  </div>
</p-dialog>

<!--dialog สมัครสมาชิกสำเร็จ -->
<p-dialog
  [(visible)]="successful"
  [modal]="true"
  [closable]="false"
  [breakpoints]="{ '2000px': '350px' }"
  [style]="{ width: '300px', textAlign: 'center' }"
>
  <div class="header-dialog">
    <h2>สมัครสมาชิกสำเร็จ</h2>
  </div>
  <div class="flex justify-content-center gap-3">
    <p-button
      label="ตกลง"
      styleClass="confirm-button"
      (click)="successful = false"
    ></p-button>
  </div>
</p-dialog>
