<div class="grid container h-screen">
  <div>
    <div class="content item-center text-center"></div>

    <div class="contentlogo item-center">
      <div class="contentlogo">
        <img src="assets/PNG/Logo.png" class="png" />
      </div>
    </div>

    <div class="margin margin-top-30px">
      <div class="item-center text-center">
        <p-button
          label="Login"
          styleClass="custom-button-blue-login"
          (click)="goLogin()"
        ></p-button>
      </div>
    </div>

    <div class="margin margin-top-30px">
      <div class="item-center text-center">
        <p-button
          label="Sign Up"
          styleClass="custom-button-white-signup"
          (click)="goSignup()"
        ></p-button>
      </div>
    </div>
  </div>
</div>
