<div class="grid container h-screen">
  <div class="col-12">
    <div class="flex justify-content-center">
      <h2>คอร์สออกกำลังกาย</h2>
    </div>
  </div>

  <div class="col-12">
    <div class="grid">
      <div class="col-12 p-4 border-round-top-3xl surface-0 h-screen">
        <div class="flex justify-content-center">
          <p-galleria
            class="margin-top-40px"
            [value]="images"
            [circular]="true"
            [autoPlay]="true"
            [showIndicators]="true"
            [showThumbnails]="false"
            [changeItemOnIndicatorHover]="true"
            [responsiveOptions]="responsiveOptions"
            [containerStyle]="{ 'max-width': '100%' }"
          >
            <ng-template pTemplate="item" let-item>
              <img [src]="item" class="galleria-image" />
            </ng-template>
          </p-galleria>
        </div>

        <div class="fitnex-banner">
          <div class="text-container">
            <div class="text-left">
              <div class="flex-container">เลือกคอร์สที่เหมาะกับคุณ</div>
              <div class="flex-container2">
                แล้วมาเป็นครอบครัว <span class="text-right">FITNEX</span>
              </div>
            </div>
          </div>
        </div>

        <div class="flex justify-content-center pt-5">
          <h2 class="font-color">เพิ่มกล้ามเนื้อ</h2>
        </div>

        <div class="grid">
          <div class="col-6">
            <div class="text-center p-4 border-round-top-3xl">
              <div class="card flex justify-content-center">
                <p-card
                  subheader="Strength Training Basic"
                  [style]="{ width: '150px'}"
                >
                  <ng-template pTemplate="header">
                    <img
                      alt="Card"
                      src="assets/program/Picture5.jpg"
                    />
                  </ng-template>
                  <ng-template pTemplate="footer">
                    <div class="flex justify-content-center gap-2 mt-4">
                      <p-button label="สมัคร" styleClass="button-training"
                      (click)="goPageCoursetrain('เพิ่มกล้ามเนื้อ',5)"
                      />
                    </div>
                  </ng-template>
                </p-card>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="text-center p-4 border-round-top-3xl">
              <div class="card flex justify-content-center">
                <p-card
                  subheader="Endurance Training"
                  [style]="{ width: '150px' }"
                >
                  <ng-template pTemplate="header">
                    <img
                      alt="Card"
                      src="assets/program/Picture8.jpg"
                    />
                  </ng-template>
                  <ng-template pTemplate="footer">
                    <div class="flex justify-content-center gap-2 mt-4">
                      <p-button label="สมัคร" styleClass="button-training"
                      (click)="goPageCoursetrain('เพิ่มกล้ามเนื้อ',8)"
                      />
                    </div>
                  </ng-template>
                </p-card>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="text-center p-4 border-round-top-3xl">
              <div class="card flex justify-content-center">
                <p-card
                  subheader="Advanced Strength Training"
                  [style]="{ width: '150px' }"
                >
                  <ng-template pTemplate="header">
                    <img
                      alt="Card"
                      src="assets/program/Picture10.jpg"
                    />
                  </ng-template>
                  <ng-template pTemplate="footer">
                    <div class="flex justify-content-center gap-2 mt-4">
                      <p-button label="สมัคร" styleClass="button-training"
                      (click)="goPageCoursetrain('เพิ่มกล้ามเนื้อ',10)"
                      />
                    </div>
                  </ng-template>
                </p-card>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="text-center p-4 border-round-top-3xl">
              <div class="card flex justify-content-center">
                <p-card
                  subheader="Pilates Training"
                  [style]="{ width: '150px' }"
                >
                  <ng-template pTemplate="header">
                    <img
                      alt="Card"
                      src="assets/program/Picture12.jpg"
                      (click)="goPageCoursetrain('เพิ่มกล้ามเนื้อ',12)"
                    />
                  </ng-template>
                  <ng-template pTemplate="footer">
                    <div class="flex justify-content-center gap-2 mt-4">
                      <p-button label="สมัคร" styleClass="button-training "
                      />
                    </div>
                  </ng-template>
                </p-card>
              </div>
            </div>
          </div>
        </div>

        <p-divider type="solid" />

        <div class="flex justify-content-center pt-5">
          <h2 class="font-color">ลดไข้มัน</h2>
        </div>

        <div class="grid">
          <div class="col-6">
            <div class="text-center p-4 border-round-top-3xl">
              <div class="card flex justify-content-center">
                <p-card
                  subheader="Basic Weight Loss"
                  [style]="{ width: '150px' }"
                >
                  <ng-template pTemplate="header">
                    <img
                      alt="Card"
                      src="assets/program/Picture2.jpg"
                      (click)="goPageCoursetrain('ลดไข้มัน',2)"
                    />
                  </ng-template>
                  <ng-template pTemplate="footer">
                    <div class="flex justify-content-center gap-2 mt-4">
                      <p-button label="สมัคร" styleClass="button-training"
                      />
                    </div>
                  </ng-template>
                </p-card>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="text-center p-4 border-round-top-3xl">
              <div class="card flex justify-content-center">
                <p-card
                  subheader="Standard Cardio Fitness"
                  [style]="{ width: '150px' }"
                >
                  <ng-template pTemplate="header">
                    <img
                      alt="Card"
                      src="assets/program/Picture4.jpg"
                    />
                  </ng-template>
                  <ng-template pTemplate="footer">
                    <div class="flex justify-content-center gap-2 mt-4">
                      <p-button label="สมัคร" styleClass="button-training"
                      (click)="goPageCoursetrain('ลดไข้มัน',4)"
                      />
                    </div>
                  </ng-template>
                </p-card>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="text-center p-4 border-round-top-3xl">
              <div class="card flex justify-content-center">
                <p-card
                  subheader="Dance Fitness"
                  [style]="{ width: '150px' }"
                >
                  <ng-template pTemplate="header">
                    <img
                      alt="Card"
                      src="assets/program/Picture6.jpg"
                    />
                  </ng-template>
                  <ng-template pTemplate="footer">
                    <div class="flex justify-content-center gap-2 mt-4">
                      <p-button label="สมัคร" styleClass="button-training"
                      (click)="goPageCoursetrain('ลดไข้มัน',6)"

                      />
                    </div>
                  </ng-template>
                </p-card>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="text-center p-4 border-round-top-3xl">
              <div class="card flex justify-content-center">
                <p-card
                  subheader="Premium Cardio Interval Training"
                  [style]="{ width: '150px' }"
                >
                  <ng-template pTemplate="header">
                    <img
                      alt="Card"
                      src="assets/program/Picture11.jpg"
                    />
                  </ng-template>
                  <ng-template pTemplate="footer">
                    <div class="flex justify-content-center gap-2 mt-4">
                      <p-button label="สมัคร" styleClass="button-training"
                      (click)="goPageCoursetrain('ลดไข้มัน',11)"
                      />
                    </div>
                  </ng-template>
                </p-card>
              </div>
            </div>
          </div>
        </div>

        <p-divider type="solid" />

        <div class="flex justify-content-center pt-5">
          <h2 class="font-color">น้ำหนักคงสภาพ</h2>
        </div>

        <div class="grid">
          <div class="col-6">
            <div class="text-center p-4 border-round-top-3xl">
              <div class="card flex justify-content-center">
                <p-card
                  subheader="Beginner Fitness"
                  [style]="{ width: '150px' }"
                >
                  <ng-template pTemplate="header">
                    <img
                      alt="Card"
                      src="assets/program/Picture1.jpg"
                    />
                  </ng-template>
                  <ng-template pTemplate="footer">
                    <div class="flex justify-content-center gap-2 mt-4">
                      <p-button label="สมัคร" styleClass="button-training"
                      (click)="goPageCoursetrain('น้ำหนักคงสภาพ',1)"
                      />
                    </div>
                  </ng-template>
                </p-card>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="text-center p-4 border-round-top-3xl">
              <div class="card flex justify-content-center">
                <p-card
                  subheader="Body Sculpting"
                  [style]="{ width: '150px' }"
                >
                  <ng-template pTemplate="header">
                    <img
                      alt="Card"
                      src="assets/program/Picture7.jpg"
                    />
                  </ng-template>
                  <ng-template pTemplate="footer">
                    <div class="flex justify-content-center gap-2 mt-4">
                      <p-button label="สมัคร" styleClass="button-training"
                      (click)="goPageCoursetrain('น้ำหนักคงสภาพ',7)"
                      />
                    </div>
                  </ng-template>
                </p-card>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="text-center p-4 border-round-top-3xl">
              <div class="card flex justify-content-center">
                <p-card
                  subheader="Yoga for Relaxation"
                  [style]="{ width: '150px' }"
                >
                  <ng-template pTemplate="header">
                    <img
                      alt="Card"
                      src="assets/program/Picture9.jpg"
                    />
                  </ng-template>
                  <ng-template pTemplate="footer">
                    <div class="flex justify-content-center gap-2 mt-4">
                      <p-button label="สมัคร" styleClass="button-training"
                      (click)="goPageCoursetrain('น้ำหนักคงสภาพ',9)"
                      />
                    </div>
                  </ng-template>
                </p-card>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="text-center p-4 border-round-top-3xl">
              <div class="card flex justify-content-center">
                <p-card
                  subheader="Flexibility & Stretching"
                  [style]="{ width: '150px' }"
                >
                  <ng-template pTemplate="header">
                    <img
                      alt="Card"
                      src="assets/program/Picture3.jpg"
                    />
                  </ng-template>
                  <ng-template pTemplate="footer">
                    <div class="flex justify-content-center gap-2 mt-4">
                      <p-button label="สมัคร" styleClass="button-training"
                      (click)="goPageCoursetrain('น้ำหนักคงสภาพ',3)"
                      />
                    </div>
                  </ng-template>
                </p-card>
              </div>
            </div>
          </div>
        </div>

        <p-divider type="solid" />

        <div class="flex justify-content-center pt-5">
          <h2 class="font-color">พรีเมี่ยม</h2>
        </div>

        <div class="grid">
          <div class="col-6">
            <div class="text-center p-4 border-round-top-3xl">
              <div class="card flex justify-content-center">
                <p-card
                  subheader="Sports Conditioning"
                  [style]="{ width: '150px' }"
                >
                  <ng-template pTemplate="header">
                    <img
                      alt="Card"
                      src="assets/program/Picture13.jpg"
                    />
                  </ng-template>
                  <ng-template pTemplate="footer">
                    <div class="flex justify-content-center gap-2 mt-4">
                      <p-button label="สมัคร" styleClass="button-training"
                      (click)="goPageCoursetrain('พรีเมี่ยม',13)"
                      />
                    </div>
                  </ng-template>
                </p-card>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="text-center p-4 border-round-top-3xl">
              <div class="card flex justify-content-center">
                <p-card
                  subheader="Functional Training"
                  [style]="{ width: '150px' }"
                >
                  <ng-template pTemplate="header">
                    <img
                      alt="Card"
                      src="assets/program/Picture14.jpg"
                    />
                  </ng-template>
                  <ng-template pTemplate="footer">
                    <div class="flex justify-content-center gap-2 mt-4">
                      <p-button label="สมัคร" styleClass="button-training"
                      (click)="goPageCoursetrain('พรีเมี่ยม',14)"
                      />
                    </div>
                  </ng-template>
                </p-card>
              </div>
            </div>
          </div>
        </div>

        <p-divider type="solid" />

        <div class="flex justify-content-center pt-5">
          <h2 class="font-color">เทรนเนอร์ส่วนตัว</h2>
        </div>

        <div class="grid flex flex-column justify-content-center">
          <p-image
            src="https://images.pexels.com/photos/414029/pexels-photo-414029.jpeg?cs=srgb&dl=pexels-pixabay-414029.jpg&fm=jpg"
            alt="Image"
            width="60%"
          >
          </p-image>
        </div>

        <div class="text-container mt-4">
          <div class="text-left">
            <div class="flex-container3">การฝึกซ้อมที่เน้นผลลัพธ์</div>
            <div class="flex-container4">
              ให้เทรนเนอร์ของเราช่วยคุณ
              <span class="text-right1">บรรลุเป้าหมาย</span>
            </div>
          </div>
        </div>

        <div class="margin margin-top-30px">
          <div class="item-center text-center">
            <p-button
              label="ลงทะเบียน"
              styleClass="custom-button-blue-login"
              (click)="goTotrainer()"
            ></p-button>
          </div>
        </div>
      </div>
      <div class="background-156">
        <div class="content">
          <div>
            <h3 class="text-left-underline">เกี่ยวกับพวกเรา</h3>
            <p>เกี่ยวกับเรา</p>
            <p>ติดต่อเรา</p>
            <p>ทำไมต้องเลือกเรา</p>
          </div>
        </div>

        <div class="content">
          <div>
            <h3 class="text-left-underline">สมาชิก</h3>
            <p>สิทธิพิเศษของสมาชิก</p>
            <p>กฎระเบียบการใช้งาน</p>
            <p>โปรโมชั่น</p>
            <p>สมัครสมาชิก</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
