@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

p {
  color: #000;
}

.container {
  min-height: 100vh; /* ใช้ความสูงเต็มหน้าจอ */
  flex-direction: column;
  justify-content: space-between; /* กระจายคอนเทนต์ในแนวตั้ง */
  margin: 0; /* ลบระยะขอบด้านนอก */
  padding: 0; /* ลบระยะห่างด้านใน */
}

body {
  font-family: "Prompt", sans-serif;
  background: #FA1A1A;
  background-attachment: fixed;
}

.p-card,
.p-button,
.p-button-label {
  font-family: "Prompt", sans-serif;
}
.logo {
  width: 50px;
  height: 50px;
}

.p-menubar {
  background-color: rgb(156, 156, 156);
  border: none;
  outline: none;
}

.background-156 {
  background-color: rgb(156, 156, 156);
  border: none;
  outline: none;
  width: 100%;
}

.background-156c {
  background-color: rgb(156, 156, 156);
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100%;
}

.background-black {
  background-color: rgb(0, 0, 0);
}

.button-card {
  .custom-button-white {
    border-radius: 5px; /* ความโค้งของขอบ */
    background-color: white; /* พื้นหลังสีขาว */
  }

  .custom-button-white .p-button-text {
    color: black; /* ตัวหนังสือสีดำ */
  }

  .custom-button-white .p-button {
    border-color: black; /* ขอบปุ่มสีดำ */
  }

  .custom-button-red {
    border-radius: 5px; /* ความโค้งของขอบ */
    background-color: #1ce6da; /* พื้นหลังสีขาว */
  }

  .custom-button-red .p-button-text {
    color: rgb(0, 0, 0); /* ตัวหนังสือสีดำ */
  }

  .custom-button-red .p-button {
    border-color: #1ce6da; /* ขอบปุ่มสีดำ */
  }
}

.content {
  display: flex; /* ใช้ flexbox เพื่อจัดตำแหน่ง */
  margin: 0.7rem; /* ปรับระยะห่างตามต้องการ */
}

.contentlogo {
  display: flex;
  margin: 1.4rem;
}

.item-center {
  justify-content: center;
  // justify-items: center;
}

.text-center {
  text-align: center;
}
.png {
  width: 43vw; /* ปรับขนาดความกว้างให้เป็น 80% ของความกว้างหน้าจอ */
  height: auto; /* ปรับขนาดความสูงตามอัตราส่วนของรูปภาพ */
}

.center {
  text-align: center;
  h3 {
    margin: 0rem;
    font-size: 70px; /* เปลี่ยนค่า 50px เป็นขนาดที่ต้องการ */
    color: red;
  }

  h1 {
    margin: 0rem;
    font-size: 50px; /* เปลี่ยนค่า 50px เป็นขนาดที่ต้องการ */
  }

  h2 {
    margin: 0rem;
    font-size: 40px;
  }
}
.fixed-card {
  position: fixed;
}

.p-card {
  border-radius: 10px;
  background-color: rgb(156, 156, 156);
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1), 0px 4px 5px -2px rgba(0, 0, 0, 0.12), 0px 10px 15px -5px rgba(0, 0, 0, 0.2) !important;
}

.png-card {
  width: 100%; /* ปรับขนาดความกว้างให้เป็น 80% ของความกว้างหน้าจอ */
  height: auto; /* ปรับขนาดความสูงตามอัตราส่วนของรูปภาพ */
}

.font-card {
  h2,
  h1 {
    color: #000;
  }
}

.text-left-underline {
  text-align: left; // จัดข้อความให้อยู่ทางซ้าย
  text-decoration: underline; // เพิ่มขีดใต้ข้อความ
}

.card {
  display: flex;
  justify-content: space-between;
}

// .bg-red {
//   background-color: red;
//   //background-image: url("assets/PNG/bg-red.png");
//   background-size: contain;
// }

.bg-white {
  background-color: #ffffff !important;
  border-top-left-radius: 30px; /* ความโค้งของมุมซ้ายบน */
  border-top-right-radius: 30px; /* ความโค้งของมุมขวาบน */
  border-bottom-left-radius: 30px; /* ความโค้งของมุมซ้ายล่าง */
  border-bottom-right-radius: 30px; /* ความโค้งของมุมขวาล่าง */
}

.bg-login {
  margin-left: 15px; /* ระยะห่างจากขอบซ้าย */
  margin-right: 15px; /* ระยะห่างจากขอบขวา */
}

.text-white {
  color: #ffffff !important;
}

.width100 {
  width: 100% !important;
}

.margin {
  margin: 0.7rem;
}

.text-right-login {
  text-align: right; /* ทำให้ข้อความชิดขวา */
}

.custom-button-blue-login {
  width: 90%;
  height: 59px;
  border-radius: 6px; /* ความโค้งของขอบ */
  background-color: #1ce6da; /* สีพื้นหลัง */
  color: black; /* สีตัวหนังสือ */
  padding: 0.75rem 1.25rem;
  font-size: 22px; /* ขนาดตัวหนังสือ */
  border: 1px solid #1ce6da; /* ขอบปุ่ม */
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1), 0px 4px 5px -2px rgba(0, 0, 0, 0.12), 0px 10px 15px -5px rgba(0, 0, 0, 0.2) !important;
}

.custom-button-white-signup {
  width: 90%;
  height: 59px;
  border-radius: 6px; /* ความโค้งของขอบ */
  background-color: #ffffff; /* สีพื้นหลัง */
  color: black; /* สีตัวหนังสือ */
  padding: 0.75rem 1.25rem;
  font-size: 22px; /* ขนาดตัวหนังสือ */
  border: 1px solid #ffffff; /* ขอบปุ่ม */
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1), 0px 4px 5px -2px rgba(0, 0, 0, 0.12), 0px 10px 15px -5px rgba(0, 0, 0, 0.2) !important;
}

.custom-button-google-login {
  width: 90%;
  height: 59px;
  border-radius: 6px; /* ความโค้งของขอบ */
  background-color: #ffffff; /* สีพื้นหลัง */
  color: black; /* สีตัวหนังสือ */
  border-color: #000000; /* สีขอบ */
  font-size: 15px; /* ขนาดตัวหนังสือ */
  border: 1px solid #000000; /* ขอบปุ่ม */
}

.custom-button-facebook-login {
  width: 90%;
  height: 55px;
  border-radius: 6px; /* ความโค้งของขอบ */

  background-color: #ffffff; /* สีพื้นหลัง */
  color: black; /* สีตัวหนังสือ */
  border-color: #000000; /* สีขอบ */
  font-size: 15px; /* ขนาดตัวหนังสือ */
  border: 1px solid #000000; /* ขอบปุ่ม */
}

.margin-top-40px {
  margin-top: 40px;
}

.margin-top-30px {
  margin-top: 30px;
}

.margin-button-30px {
  margin-bottom: 40px;
}

.img-icon {
  width: 5vw; /* ปรับขนาดความกว้างให้เป็น 80% ของความกว้างหน้าจอ */
  height: auto; /* ปรับขนาดความสูงตามอัตราส่วนของรูปภาพ */
}

.text-bule {
  color: #006eff;
}

.width-100 {
  width: 100%;
}

.galleria-image {
  width: 100%; /* ทำให้กว้างเต็มพื้นที่ */
  height: 300px; /* ปรับความสูงตามที่ต้องการ */
  object-fit: cover; /* ให้ตัดรูปให้พอดีกับกรอบ */
}

.hr.solid {
  border-top: 3px solid #000000;
}

.line-height-08 {
  line-height: 0.5; /* ลดระยะห่างระหว่างบรรทัด */
}

.line-height-1 {
  line-height: 0; /* ลดระยะห่างระหว่างบรรทัด */
}

.vip-badge {
  display: inline-block;
  background-color: #e0e0e0; /* สีพื้นหลัง */
  color: #333; /* สีของตัวอักษร */
  padding: 10px 20px; /* ขนาดของ padding */
  border-radius: 15px; /* ความโค้งของมุม */
  font-weight: bold;
  margin-top: 10px; /* ระยะห่างด้านบน */
  font-size: 1.3rem; /* ขนาดตัวอักษร */
}

.p-card .p-card-content {
  padding: 0; /* ปิด padding */
  width: 80vw;
}

.line-height-07 {
  line-height: 0.7; /* ลดระยะห่างระหว่างบรรทัด */
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
  margin-top: -0.5rem;
}

.surface-0 {
  background-color: var(--surface-0, #f5f5f5) !important; /* เผื่อกรณีที่ตัวแปรไม่ได้กำหนด */
}

.col-12 {
  flex: 0 0 auto;
  padding: 0.5rem;
  width: 100%;
}

.col-6 {
  flex: 0 0 auto;
  padding: 0.4rem;
  width: 50%;
}

.flex-column {
  flex-direction: column !important;
}

.border-round-top-3xl {
  border-top-left-radius: 1.5rem !important;
  border-top-right-radius: 1.5rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.h-screen {
  height: 100% !important;
}

.full-width {
  width: 100% !important;
}

.grid > .col, .grid > [class*=col] {
  box-sizing: border-box;
}

.justify-content-center {
  justify-content: center !important;
}

.flex {
  display: flex !important;
}

.fitnex-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(156, 156, 156); /* เปลี่ยนสีพื้นหลังตามต้องการ */
  border-radius: 10px;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1), 0px 4px 5px -2px rgba(0, 0, 0, 0.12), 0px 10px 15px -5px rgba(0, 0, 0, 0.2) !important;
}

.text-container {
  width: 100%;
}

.text-left {
  text-align: left;
  font-weight: bold;
  color: #333; /* เปลี่ยนสีตัวอักษรตามต้องการ */
}

.text-right {
  display: flex;
  font-weight: bold;
  color: #FA1A1A;
  font-size: 50px;
  margin-left: auto;
}

.flex-container {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.flex-container2 {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.content {
  display: flex; /* ใช้ flexbox เพื่อจัดตำแหน่ง */
  margin: 0.7rem; /* ปรับระยะห่างตามต้องการ */
}

.item-center {
  justify-content: center;
  justify-items: center;
}

.text-center {
  text-align: center;
}

.galleria-image {
  width: 100%;         /* ทำให้กว้างเต็มพื้นที่ */
  height: 300px;      /* ปรับความสูงตามที่ต้องการ */
  object-fit: cover;   /* ให้ตัดรูปให้พอดีกับกรอบ */
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.gap-2 {
  gap: 0.5rem !important;
}

label {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.dropdown {
  width: 300px;
  height: 40px;
  border: 1px solid #d1d5db;;
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 16px;
  outline: none;
  font-family: "Prompt", sans-serif;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  color: #6b7280;
}


.dropdown:not(.p-disabled):hover {
  border-color: #FA1A1A;
}

.dropdown:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #fe8a8a;
  border-color: #FA1A1A;
}

.p-divider-horizontal:before {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  overscroll-behavior: contain auto;
  scroll-padding-inline: 3rem;
  border-width: 0 0 2px 0;
  border: 1px solid #e5e7eb;
}

.pt-5 {
  padding-top: 2rem !important;
}

.p-image {
  display: flex;
  justify-content: center; /* จัดให้อยู่กลางแนวนอน */
  align-items: center;     /* จัดให้อยู่กลางแนวตั้ง (ถ้าต้องการ) */
}

.font-color {
  color: #8E8E93;
}

.button-training {
  color: #000000;
  font-weight: bold;
  background: #1CE6DA;
  border: 1px solid #1CE6DA;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
  box-shadow: 0px 1px 7px rgba(209, 166, 166, 0.1), 0px 4px 5px -2px rgba(0, 0, 0, 0.12), 0px 10px 15px -5px rgba(0, 0, 0, 0.2) !important;
}

.custom-button-blue-login:not(:disabled):hover,.custom-button-white-signup:not(:disabled):hover,.button-training:not(:disabled):hover {
  background: #0c17ea;
  color: #ffffff;
  border-color: #0c17ea;
}

.custom-button-blue-login:focus,.custom-button-white-signup:focus,.button-training:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #8a90fe;
  border-color: #0c17ea;
}

.p-dropdown:not(.p-disabled):hover {
  border-color: #FA1A1A;
}

.p-dropdown:not(.p-disabled).p-focus{
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #fe8a8a;
  border-color: #FA1A1A;
}

.col-4 {
  flex: 0 0 auto;
  padding: 1;
  width: 33.3333%;
}

.col-8  {
  flex: 0 0 auto;
  padding: 10%;
  width: 66.6667%;
}

.font{
  justify-content: center; /* จัดให้อยู่กลางแนวนอน */
  font-weight: bold;
}

.cancel-button {
  background-color: white;
  color: black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
  font-weight: bold;
  margin-right: 50px;
}

.confirm-button {
  background-color: #3edbf0; /* สีฟ้าอ่อน */
  color: black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
  font-weight: bold;
}

.header-dialog {
  color: black;
  border: none;
  font-weight: bold;
  margin: 0; /* ปรับให้เป็น 0 เพื่อลดระยะห่าง */
  padding: 0; /* ลด padding ถ้ามี */
}

.header-dialog h2 {
  margin-top: 0; /* ลดระยะห่างด้านบนของ h2 */
}

