<div class="grid container h-screen">

  <div class="col-12">
    <div><app-menu [name]="name"></app-menu></div>
  </div> 

  <div class="col-12">
    <div class="text-center font-bold text-white center">
      <h2>หน้าหลัก</h2>
    </div>
  </div>

  <div class="col-12 p-4 border-round-top-3xl surface-0 h-screen">
    <div class="content item-center">
      <p-galleria
        class="margin-top-40px"
        [value]="images"
        [circular]="true"
        [autoPlay]="true"
        [showIndicators]="true"
        [showThumbnails]="false"
        [changeItemOnIndicatorHover]="true"
        [responsiveOptions]="responsiveOptions"
        [containerStyle]="{ 'max-width': '100%' }"
      >
        <ng-template pTemplate="item" let-item>
          <img [src]="item" class="galleria-image" />
        </ng-template>
      </p-galleria>
    </div>

    <div class="item-center content">
      <div class="content text-center">
        <p-card p-card class="font-card">
          <img src="assets/PNG/FoodInfo1.png" class="png-card" />
          <h1>แนะนำ</h1>
          <h2>อาหารเสริมที่เหมาะกับคุณ</h2>
          <div class="button-card card">
            <p-button
              label="เพิ่มเติม"
              [text]="true"
              [raised]="true"
              severity="secondary"
              class="custom-button-white"
              (click)="gofoodInfo()"
            />
            <p-button
              label="ทดลอง"
              [text]="true"
              [raised]="true"
              class="custom-button-red"
            />
          </div>
        </p-card>
      </div>
    </div>

    <div class="item-center content">
      <div class="content text-center">
        <p-card p-card class="font-card">
          <img src="assets/PNG/fixnex.png" class="png-card" />
          <h1>แนะนำ</h1>
          <h2>คอสออกกำลังกาย</h2>
          <div class="button-card card">
            <p-button
              label="เพิ่มเติม"
              [text]="true"
              [raised]="true"
              severity="secondary"
              class="custom-button-white"
              (click)="goprogramInfo()"
            />
            <p-button
              label="ทดลอง"
              [text]="true"
              [raised]="true"
              class="custom-button-red"
              (click)="gotraining()"
            />
          </div>
        </p-card>
      </div>
    </div>

    <div class="item-center content">
      <div class="content text-center">
        <p-card p-card class="font-card">
          <img src="assets/PNG/calInfo.jpg" class="png-card" />
          <h1>คำนวณ</h1>
          <h2>สารอาหาร</h2>
          <div class="button-card card">
            <p-button
              label="เพิ่มเติม"
              [text]="true"
              [raised]="true"
              severity="secondary"
              class="custom-button-white"
              (click)="gocalInfo()"
            />
            <p-button
              label="ทดลอง"
              [text]="true"
              [raised]="true"
              class="custom-button-red"
              (click)="gocalfood()"
            />
          </div>
        </p-card>
      </div>
    </div>
  </div>
  <div class="background-156">
    <div class="content">
      <div>
        <h3 class="text-left-underline">เกี่ยวกับพวกเรา</h3>
        <p>เกี่ยวกับเรา</p>
        <p>ติดต่อเรา</p>
        <p>ทำไมต้องเลือกเรา</p>
      </div>
    </div>

    <div class="content">
      <div>
        <h3 class="text-left-underline">สมาชิก</h3>
        <p>สิทธิพิเศษของสมาชิก</p>
        <p>กฎระเบียบการใช้งาน</p>
        <p>โปรโมชั่น</p>
        <p>สมัครสมาชิก</p>
      </div>
    </div>
  </div>
</div>
